@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1, h2{
    font-weight: 700;
}