.container{
    padding: 38px 35px 0px 35px;
    display: flex;
    justify-content: center;
}
.contents{
    display: grid;
    grid-template-columns: minmax(325px, 725px) auto;
}
.contents .main-content{
    padding-right: 17px;
}
.main-content .video{
    max-width: 725px;
    height: 217px;
    background-color: rgb(75, 112, 112);
}
.main-content .video .img-video{
    width: 100%;
    height: 100%;
}
.main-content  h1{
    font-size: 18px;
    margin-top: 12px;
}
.main-content  span{
    font-size: 14px;
    padding-top: 7px;
}
.main-content  p{
    padding-top: 9px;
    font-size: 16px;
    margin-bottom: 20px;
}
.adds-img{
    background-color: gray;
    height: 56px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 270px;
}
.aside .videos{
    display: grid;
    grid-template-columns: 102px auto;
    grid-template-rows: 101px;
}
.aside .videos .text h2{
    font-size: 14px;
}
.aside .videos .text .videos span{
    display: inline-block;
}
.aside .videos .img{
    background-color: gray;
    height: 71px;
    width: 99%;
}

.aside .author, .views, .time-after-posting{
    font-size: 11px;
}
@media(max-width: 768px){
    .container{
        padding: 3%;
    }
    .contents{
        grid-template-columns: 1fr;        
    }
    .contents .main-content{
        padding: 0;
    }
    .adds-img{
        max-width: 100%;
    }
}